<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">

    <bean class="org.team4u.ddd.process.retry.method.interceptor.RetryInterceptor"/>
    <bean class="org.team4u.ddd.infrastructure.process.spring.SpringRetryableMethodTimedOutEventSubscriber"/>

    <bean id="springRetryInterceptor"
          class="org.team4u.ddd.infrastructure.process.spring.SpringRetryableMethodInterceptor"/>
    <bean id="processRetryInterceptorClassFilter"
          class="org.team4u.ddd.infrastructure.process.spring.RetryableClassFilter"/>

    <bean id="processRetryPointCut" class="org.springframework.aop.support.NameMatchMethodPointcut">
        <property name="mappedName" value="*"/>
        <property name="classFilter" ref="processRetryInterceptorClassFilter"/>
    </bean>

    <aop:config>
        <aop:advisor pointcut-ref="processRetryPointCut" advice-ref="springRetryInterceptor"/>
    </aop:config>
</beans>